.idea/shelf/
.idea/workspace.xml
.idea/dataSources/
.idea/webServers.xml
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/sqlDataSources.xml
.idea/runConfigurations.xml
.idea/deployment.xml
/dataSources.local.xml
/httpRequests/
logs.log